.header-image{
    width: 70px;
    height: 70px;
}

.nav-option{
    display: flex;
    justify-content: space-between;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-li-one,
.nav-li-two,
.nav-li-three,
.nav-li-four,
.nav-li-five{
    padding: 0.5em 1em;
    font-size: 1.6em;
    cursor: pointer;
}

.nav-li-one:hover,
.nav-li-two:hover,
.nav-li-three:hover,
.nav-li-four:hover,
.nav-li-five:hover{
    color: steelblue;
}

.underline1{
    position: absolute;
    top: 12%;
    left: 2%;
    background-color: steelblue;
    width: 3.5em;
    height: 0.1em;
    z-index: 1;
    transition: all linear 0.3s
}

.underline2{
    position: absolute;
    top: 12%;
    left: 9.3%;
    background-color: steelblue;
    width: 2.5em;
    height: 0.1em;
    z-index: 1;
    transition: all linear 0.3s
}

.underline3{
    position: absolute;
    top: 12%;
    left: 15.8%;
    background-color: steelblue;
    width: 6em;
    height: 0.1em;
    z-index: 1;
    transition: all linear 0.3s
}

.underline4{
    position: absolute;
    top: 12%;
    left: 26.3%;
    background-color: steelblue;
    width: 3em;
    height: 0.1em;
    z-index: 1;
    transition: all linear 0.3s
}

.underline5{
    position: absolute;
    top: 12%;
    left: 34%;
    background-color: steelblue;
    width: 7.5em;
    height: 0.1em;
    z-index: 1;
    transition: all linear 0.3s
}

.changeColor{
    color: steelblue;
}

.search-value{
    margin-right: 1em;
    font-size: 1.6em;
}
